.card {
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 900px;
    margin: auto;
}

.profilePhoto {
    height: 500px;
    width: 500px;
    margin: auto;
    padding: 50px 50px 50px 50px;
}

.bio_name {
    font-weight: 700;
}

.bio_name > h1 {
    margin: 0;
    font-size: 80px;
    letter-spacing: -0.03em;
    color: #DFE0E2;
}

.bio_name > h2 {
    margin: 0;
    font-size: 45px;
    color: #E6F9AF;
}

.bio_contact_buttons {
    font-size: 30px;
    display: flex;
    padding: 50px 50px 50px 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.bio_portfolio, .bio_email {
    margin: auto;
    text-decoration: none;
    font-size: 45px;
    color: #82ABA1;
}



